/* General Styles */

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  transition: background-color 0.7s, color 0.7s;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  color: #fff;
  font-family: "Lora", serif;
  transition: background-color 0.5s, color 0.5s;
}

h2#target-word {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}

#streak-container {
  display: none;
}

/* Dark Mode */

body.dark-mode {
  background-color: #fff;
  color: #000;
}

body.dark-mode h1 {
  color: #000;
}

body.dark-mode #fullscreen-button svg path {
  fill: black;
}

body.dark-mode #toggle-button svg path {
  fill: black;
}

body.dark-mode h1 {
  color: #000 !important;
}

body.dark-mode #toggle-button svg {
  fill: #000;
}

/* Fullscreen Button */

#fullscreen-button {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  transform: scale(1);
  transition: background-color 0.5s, color 0.5s;
}

#fullscreen-button svg {
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 999;
  transform: none !important;
  transition: background-color 0.5s, color 0.5s;
}

#fullscreen-button svg path {
  fill: white;
  transition: background-color 0.5s, color 0.5s;
}

/* Toggle Button */

#toggle-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  transform: none !important;
  transition: background-color 0.5s, color 0.5s;
}

#toggle-button svg {
  width: 100%;
  height: 100%;
  z-index: 999;
  transform: none !important;
  transition: background-color 0.5s, color 0.5s;
}

/* Title Container */

#title-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; /* Add this line to establish a positioning context */
}

#title-container h1 {
  color: #fff;
  font-family: "Lora", serif;
  margin-bottom: 10px;
  position: relative;
}

.line {
  width: 35%;
  height: 2px;
  background-color: #787c7f;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (max-width: 768px) {
  .line {
    width: 90%;
  }
}

/* Popup Container */

.popup-content {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: black 2px 2px 5px;
}

.popup-content p:not(:last-child) {
  margin-bottom: 10px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  position: relative;
  background-color: rgba(120, 124, 127, 0.6);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 22px;
  text-align: center;
  color: #6ca965;
  max-width: 90%;
}

.popup-word {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: auto;
  margin: 20px auto;
  max-width: 100%;
}

.word-tile {
  width: 30px;
  height: 30px;
  background-color: #6ca965;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin-right: 5px;
  box-shadow: black 2px 2px 5px;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #6ca965;
  cursor: pointer;
  z-index: 2;
}

.popup-close:hover {
  color: #ccc;
}

/* Word Container */

#word-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto 50px;
}

#word-container div {
  width: 40px;
  height: 40px;
  perspective: 1000px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#word-container .card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateX(0);
  transition: transform 1s;
}

#word-container .card.flipped {
  transform: rotateX(180deg);
}

#word-container .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#word-container .card .front {
  background: #787c7f;
}

#word-container .card .back {
  background: #6ca965;
  transform: rotateX(180deg);
}

.target-tile {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  background: #6ca965;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateX(0);
  transition: transform 1s;
}

.target-tile.red {
  background: #f00;
}

.target-tile.flipped {
  transform: rotateX(360deg);
}

@media (min-width: 768px) {
  #word-container div {
    width: 60px;
    height: 60px;
  }

  .target-tile {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
}

/* Keyboard Container */

#keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

#keyboard-container div {
  display: flex;
  justify-content: center;
  width: 100%;
}

#keyboard-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: #787c7f;
  border-radius: 5px;
  color: #fff;
  min-width: 35px;
  height: 45px;
  white-space: nowrap;
}

#keyboard-container button.correct {
  background: #6ca965;
}

#keyboard-container button.incorrect {
  background: #f00;
}

/* Instructions Button */

#instruct {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  background: #c8b653;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Lora", serif;
  font-size: 18px;
}

#instruct:hover {
  background: #a09142;
}

/* Media Queries */

@media (min-width: 768px) {
  body {
    font-size: 24px;
  }

  h1 {
    font-size: 36px;
  }

  #keyboard-container button {
    padding: 15px;
    font-size: 20px;
    min-width: 50px;
    height: 70px;
  }

  #reset {
    font-size: 24px;
  }

  .popup {
    font-size: 28px;
  }

  .popup-word {
    margin-top: 20px;
  }

  .word-tile {
    width: 50px;
    height: 50px;
    font-size: 36px;
  }

  .popup-close {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  #keyboard-container button {
    padding: 5px;
    font-size: 16px;
    min-width: 30px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  #word-container div {
    margin: 0 1.5px; /* Adjust the margin as desired */
  }
}